/* Portfolio */

.landing {
  max-width: 100vw;
  overflow-x: hidden;
  height: auto;

  .hero {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;

    .bg {
      position: absolute;
      width: 100vw;
    }

    .stars {
      background-image: url(../images/stars.png), linear-gradient(to top, #1b2936, #2a052d);
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      height: 120vh;
      top: -20vh;
    }

    .comet {
      background-image: url(../images/comet.gif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(40deg);
      height: 120vh;
      top: -20vh;
    }

    @keyframes bird1 {
      0% {
        left: -60px;
        top: 10vh;
      }
     50% {
        top: 30vh;
      }
       100% {
        left: 100vw;
        top: 25vh;
      }
    }

    @keyframes bird2 {
      0% {
        left: -60px;
        top: 30vh;
      }50% {
        top: 15vh;
      }
       100% {
        left: 100vw;
        top: 30vh;
      }
    }

    @keyframes bird3 {
      0% {
        left: -60px;
        top: 15vh;
      }
     50% {
        top: 25vh;
      }
       100% {
        left: 100vw;
        top: 20vh;
      }
    }

    @keyframes bird4 {
      0% {
        left: -60px;
        top: 25vh;
      }
     50% {
        top: 15vh;
      }
       100% {
        left: 100vw;
        top: 35vh;
      }
    }

    .bird1 {
      animation: bird1 cubic-bezier(0, 0.3, 1, .75) 15s infinite;
    }

    .bird2 {
      animation: bird2 cubic-bezier(0, 0.3, 1, .75) 15s infinite;
      animation-delay: 1s;
    }

    .bird3 {
      animation: bird3 cubic-bezier(0, 0.3, 1, .75) 15s infinite;
      animation-delay: 2s;
    }

    .bird4 {
      animation: bird4 cubic-bezier(0, 0.3, 1, .75) 15s infinite;
      animation-delay: 3s;
    }

    .birds {
      background: url(../images/birds.gif) no-repeat;
      left: -60px;
      height: 5vh;
      background-size: contain;
      z-index: 3000;
      pointer-events: none;
      animation-duration: 12s;
      @media screen and (max-width: 425px) {
        animation-duration: 8s;
      }
    }

    .clouds {
      background-image: url(../images/clouds.svg);
      width: 50000px;
      background-position: top;
      background-repeat: repeat-x;
      background-size: contain;
      height: 40vh;
      top: 0;
      animation: myAnim linear 2000s infinite;
    }

    @keyframes myAnim {
      from {
        left: 0;
      }

      to {
        left: -50000px;
      }
    }

    .grass {
      background-image: url(../images/grass.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 20vh;
      bottom: 0;
    }

    .trees {
      background: url(../images/tree.jpeg) no-repeat;
      background-position: right bottom;
      @media screen and (max-width: 900px) {
        background-position: left bottom;
      }
      background-size: 600px;
      height: 600px;
      bottom: 10vh;
      pointer-events: none;
    }

    .owl {
      background: url(../images/owl.svg) no-repeat;
      background-position: left bottom;
      @media screen and (max-width: 900px) {
        background-position: right 50vw bottom;
      }
      background-size: contain;
      height: 800px;
      bottom: 10vh;
      width: 150vw;
      pointer-events: none;
    }
    

    .title {
      max-width: 100%;
      padding-top: 9vh;
      text-align: center;
      will-change: transform;
      cursor: pointer;
      text-shadow: rgba(0, 0, 0, 0.35) 0px 6px 10px;

      h1 {
        max-width: 100%;
        font-weight: normal;
        margin-bottom: -16px;
      }

      h4 {
        max-width: 100%;
      }
    }

    .arrow {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      animation: avatoon cubic-bezier(0.42, 0, 0.58, 1) 3s infinite;
      transition: all 1s ease-in-out;
      .avatoon {
        @media screen and (max-width: 900px) {
          width: 320px;
          height: 320px;
        }
        width: 400px;
        height: 400px;
      }

      p {
        font-weight: 700;
        margin: -40px 0 0;
        font-family: "Nunito";
      }
    }


    @keyframes avatoon {
      0%, 100% {
        bottom: 4vh;
      }

      50% {
        bottom: 6.5vh;
      }
    }

  }

  .content {
    margin-top: -10px;
    width: 100%;
    color: whitesmoke;
    z-index: 3;
    background-color: #04960b;
      text-align: center;
    .intro {
      margin: auto;
      max-width: 768px;
      padding: 100px 10px 200px;

      h2 {
        font-weight: 300;
      }
      a {
        color: white;
      }
    }
  }
}
