body {
  font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
  }
h1, h2, h3, h5, h6 {
  font-weight: 300;
  font-family: 'Potta One', cursive;
}
h4 {
  font-weight: normal;
  color: slategray;
}
.logo {
  position: fixed;
  left: 50px;
  margin: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10000;
  transition: ease-in-out 1s;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #04960b, #06460a);
  object-fit: contain;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 4px;
}

.chat {
  position: fixed;
  right: 50px;
  margin: 5px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 10000;
  transition: ease-in-out 1s;
}
@media only screen and (max-width: 768px) {
  .logo {
    left: 10px;
  }
  .chat {
    right: 10px;
  }
}

.d-none {
  opacity: 0;
  width: 0;
  height: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #06460a;
}
